body {
  background-color: lightgray;
}

h1 {
  text-align: center;
 margin-top: 60px;
}

img {
  float: left;

}

.sidebar {
  float: right;
  margin: 12px;
  border: 2px;
  padding: 4px;
  background-color: gray;
}

.important {
  align-content: center;
}
